apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "k8tz.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "k8tz.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
